<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRsP2WuGcEQqaZihLeGYs2t_cWfqWT6Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>703869924002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutAppNew</string>
	<key>PROJECT_ID</key>
	<string>workout-app-4f002</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-app-4f002.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703869924002:ios:0cf4566edd3f1684a3ddfb</string>
</dict>
</plist>